@mixin flow-horizontal($flow-space) {
    & > * + * {
        margin-inline-start: $flow-space;
    }
}

@mixin flow-vertical($flow-space) {
    & > * + * {
        margin-block-start: $flow-space;
    }
}

@mixin switcher($gap, $min-width, $max-width: 1fr) {
    & {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($min-width, $max-width));
        row-gap: $gap*2;
        column-gap: $gap;
    }
}

@mixin animation {
    animation-name: opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    opacity: 0;

    @keyframes opacity {
        to {
            opacity: 1;
        }
    }
}