@use './../abstracts/mixin';


.header {
    &[data-visual=small] {
        min-height: 30vh;
    }

    &[data-visual=large] {
        min-height: 100vh;
    }
}

.hero {
    font-weight: bold;

    &[data-visual=large] {
        margin-block-start: 20vh;
    }

    &[data-visual=small] {
        margin-block: 5rem;
    }

    &__title {
        font-size: var(--step-5);
        text-align: left;
        @include mixin.animation;

        &[data-visual=center] {
            text-align: center;
        }
    }

    &__text {
        font-size: var(--step-3);
        @include mixin.animation;
    }

    &__cta {
        margin-inline: 0;
        @include mixin.animation;
    }
}