.navbar__item {
    font-weight: bold;
    
    & > a {
        position: relative;
    }

    & > a::before {
        content: '';
        position: absolute;
        bottom: -10px;
        width: 0;
        border: 2px solid var(--color-accent);
        opacity: 0;
        transition: opacity .25s ease-in-out,
                    width .25s ease-in-out;
    }

    &:hover > a::before {
        opacity: 1;
        width: 100%;
    }
}

.hero {
    margin-block-start: 20vh;
    font-weight: bold;

    &__title {
        font-size: var(--step-5);
        text-align: left;
    }

    &__text {
        font-size: var(--step-3);
    }

    &__cta {
        margin-inline: 0;
    }
}