.hero {
    &__title {
        font-size: var(--step-5);
        text-align: left;
    }

    &__text {
        font-size: var(--step-2);
    }

    &__cta {
        padding: 1em 2em;
        text-transform: uppercase;
        border: 1px solid black;
        margin: 0;
    }
}