.top-header {
    padding-block: var(--space-s-l);
    padding-inline: var(--space-s-2xl);

    &[data-background=transparent] {
        background-color: transparent;
    }
    
    &[data-background=neutral] {
        background-color: hsla(220, 6%, 20%, .8);

        & a {
            color: var(--color-neutral);
        }
    }
    
    &__navbar {
        flex-grow: 1;

        .navbar__item {
            font-weight: bold;
            
            & > a {
                position: relative;
                
            }
        
            & > a::before {
                content: '';
                position: absolute;
                bottom: -10px;
                width: 0;
                border: 2px solid var(--color-accent);
                opacity: 0;
                transition: opacity .25s ease-in-out,
                            width .25s ease-in-out;
            }
        
            &:hover > a::before {
                opacity: 1;
                width: 100%;
            }
        }
    }
}