.portfolio {
    padding-block: var(--space-xl-2xl);
    padding-inline: var(--space-s-2xl);
}

.card {
    &__title {
        font-size: var(--step-3);
    }

    &__description {
        text-align: center;
    }

    &__img > img {
        border-radius: 10px;
    }
}