.portfolio {
    padding-block: var(--space-xl-2xl);
    padding-inline: var(--space-s-2xl);

    & p {
        text-align: center;
    }

    &__cta {
        margin-inline: auto;
    }
}

.card {
    &__title {
        font-size: var(--step-3);
    }

    &__description {
        text-align: center;
    }

    &__img {
        transition: scale .25s ease-in-out;
        &:hover {
            scale: 1.1;
        }
    }

    &__img > img {
        border-radius: 10px;
    }

    &__cta {
        margin-inline: auto;
    }
}