.skills {
    padding-block: var(--space-xl-2xl);
    background-color: var(--color-accent);
    
    &__title {
        font-size: var(--step-4);
    }
}

.skill {
    &__title {
        font-size: var(--step-3);
    }
}