@use '../abstracts/mixin';


.top-header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.hero {
    @include mixin.flow-vertical(2rem);
}